tests/colortest.rng

<element rngui:version="1.2" ns="http://cpee.org" name="call" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:rngui="http://rngui.org">
  <element name="label" rngui:label="Label">
    <data type="string" rngui:label="Short description of the task"/>
  </element>
  <element name="gna" rngui:label="Gna">
    <data type="boolean" rngui:label="Bla"/>
  </element>
  <element name="color" rngui:label="Color">
    <choice rngui:type='color'>
      <value>#ffffff</value>
      <value>#99c1f1</value>
      <value>#8ff0a4</value>
      <value>#f9f06b</value>
      <value>#ffbe6f</value>
      <value>#f66151</value>
      <value>#dc8add</value>
      <value>#cdab8f</value>
      <value>#77767b</value>
    </choice>
  </element>
</element>
